*{
max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}        

#lgnav {
color: rgb(16 220 235);
border: solid 1px rgb(16 220 235);
border-radius: 36px;
padding: 4px;
margin-bottom: 8px;
}

.imagemporta {
    overflow: hidden;
    max-width: 1200px;
    max-height: 500px;
   
    border: solid 1px #000;
    
}



img {
object-fit: cover;
height: 515px;
width: 1200px;


}


.ulnav {
    margin-top: 5px;
display: flex;
justify-content: space-between;
list-style-type: none;
height: 35px;
text-align: center;
align-items: center;

}

a {
    text-decoration: none;
    transition: 0.7s;
}

.nav {
   
    font-size: 18px;
   
  height: 35px;
  text-align: center;
  align-items: center;
}

nav {
align-items: center;
    text-align: center;
    
}

a:hover {

color: rgb(16 220 235);
transition: 1s;
}

.historias {
border: 2px solid #000;
height: 380px;
display: flex;
width: 1200px;
align-items: center;

}

.hh2 {

margin-top: 25px;
margin-left: 32px;
margin-bottom: 10px;
}

.capa {
height: 350px;
width: 200px;
transition: 0.5s ;
}

#capa1 {

display: block;

}

#capa2 {

display: block;
    
    }
#capa3 {

        display: block;
    
        }

 #capa4 {

     display: block;
            
     }
#capa5 {

        display: block;
               
        }

.labelhistoria1 {
    
margin-left: 73px;
position: relative;
 


}

.labelhistoria2 {
    
    margin-left: 38px;
    position: relative;

    }

.labelhistoria3 {
    
        margin-left: 68px;
        position: relative;
}

.labelhistoria4 {
   
    margin-left: 35px;
    position: relative;
    }

.capa:hover {

    width: 250px;
    height: 400px;
    transition: 0.5s;
    transition-timing-function: linear;

    }


.blog {
display: flex;

    }

.pinfo {

display: block;
margin-left: 32px;
    }

.canonizacaobk {

height: 400px;
width: 600px;

}

.bkcanonizacao {

margin-top: 20px;
margin-bottom: 5px;

}

.blogtitle {

margin-top: 30px;

}

aside {

margin-top: 60px;
border-left: solid 1px white;
padding: 5px;
height: 285px;

}

.line {

height: 1px;
width: 500px;
border: solid 1px #fff;
position: absolute;
left: 13;
margin-top: 20px;
}

.pbk {

margin-top: 10px;

}

.lisinfo {
    margin-top: 15px;
    list-style-type: none;
    border: solid 1px rgb(16 220 235);
    padding: 5px;
    
}

.lisinfo1 {
    margin-top: 5px;
    list-style-type: none;
    border: solid 1px rgb(16 220 235);
    padding: 5px;
    
}

.lisinfo:hover {

color: rgb(16 220 235);
border-color: rgb(16 220 235);
transition: 1s;

}

.lisinfo1:hover {

    color: rgb(16 220 235);
    border-color: rgb(16 220 235);
    transition: 1s;
    
    }

html {

    scroll-behavior: smooth;
}

.line2 {

height: 1px;
width: 100%;
border: solid 1px #fff;
margin-top: 40px;
position: absolute;

}

footer {

display: flex;
flex-direction: row-reverse;
}

.formlogin {

width: 300px;
border: solid 2px #fff;
border-radius: 6px;
margin-top: 60px;
text-align: center;
background-color: #333;
margin-bottom: 20px;
}

form {

display: flex;
flex-direction: column;
background-color: #333;
}

h1 {
    margin-top: 10px;
color: #fff;
background-color: #333;

}

input {

margin-top: 15px;
border-radius: 16px ;
padding: 8px;
border: none;
width: 70%;
height: 30px;
}

form [type="submit"] {
    margin-top: 4px;
    margin-bottom: 10px;
}

#email {

margin-top: 15px;

}

#submit:hover {

cursor: pointer;
background-color: rgb(16 220 235);
transition: 1s;
}

.aform {

background-color: #333;
margin-top: 10px;
margin-left: 131px;
font-size: 14px;
}

.aform:hover {

    cursor: pointer;
}

.pform {
margin-top: 10px;
    background-color: #333;
    font-size: 14px;
    text-align: center;
}

.pform2 {

    background-color: #333;
}

.aform2 {

    background-color: #333;
}



@media screen and (max-width: 768px){
    
*{
    max-width: 768px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(34, 34, 34);
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }

    .imagemporta {
        overflow: hidden;
        max-width: 1px;
        max-height: 1px;
       
        border: solid 1px #000;
        visibility: hidden;
    }


    #img01 {


       width: 1px;
       height: 1px;

       visibility: hidden;

    }

    .historias {
        border: 2px solid #000;
        height: 1900px;
        display: block;
        width: 300px;
        align-items: center;
        
        }

        .labelhistoria1 {
    
            margin-left: 122px;
            position: relative;
             
            
            
            }
            
            .labelhistoria2 {
                
                margin-left: 85px;
                position: relative;
            
                }
            
            .labelhistoria3 {
                
                    margin-left: 110px;
                    position: relative;
            }
            
            .labelhistoria4 {
               
                margin-left: 80px;
                position: relative;
                }
            
                .labelhistoria5{
            
             margin-left: 36px;
            
                }

                .hh2 {

                    margin-top: 25px;
                    margin-left: 41%;
                    margin-bottom: 10px;
                    }
                    

               #blog {

                  margin-left: 24%;


                 }
 

                 .line {


                  width: 87%;

                 }

                 .bkcanonizacao{

                  margin-left: 10%;


                 }

                 .canonizacaobk
                 {

                   width: 300px;
                   height: 200px;
                    
                 }

                 .capa:hover {

                    height: 350px;
width: 200px;
                    
                    transition: none;
                    
                
                    }


                    .textoblog {

                    width: 100%;

                    }

      .blog {

                    display: block;

                    }
}
